body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

#root {
	min-height: 100%;
}

.header {
	padding: 10px 20px;
	background-color: rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.nav-btn-container {
	display: flex;
	justify-content: flex-end;
}

.login-btn {
	margin: 20px auto;
	display: block;
}

.w-100 {
	width: 100%;
}

.w-300px {
	width: 300px;
}

.h-100 {
	height: 100%;
}

.h-50vh {
	height: 50vh;
}

.p-32 {
	padding: 32;
}

.mr-10 {
	margin-right: 10px;
}

.mb-10 {
	margin-bottom: 10px;
}

.text-area {
	height: 100px;
}

.loader-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.img-label {
	height: auto;
	width: auto;
}

.gif-container {
	height: 180px;
	width: 350px;
	overflow-y: scroll;
}
